.divider {
    background-color: rgba(blue, 0.25);
    height: 1.25rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    width: 1px;
}

.tiptap {
    a {
        text-decoration: underline;
        color: blue;
        font-style: italic;
    }
}

.input-color {
    cursor: pointer;
    width: 8rem !important;
    padding: 5px 1rem !important;
}

.upload-img {
    visibility: hidden;
}